* {
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 150px;
}

.logo-container {

}

.nav-items {

}

.nav-items ul {
    display: flex;
    font-size: 24px;
}
.nav-items ul li {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

.res-card {
    width: 200px;
    margin: 0px 20px;
}
.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}
.res-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.res-logo {
    width: 100%;
}
.search {
    padding: 10px;
}

